<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="container">
      <div class="container-header">
        <h1>Edit Item</h1>
      </div>
      <div class="item-form-wrapper">
        <form action="/lists/<%= item._id %>?_method=put" method="POST">
          <label class="form-label" for="name">Item</label>
          <input type="text" name="name" value="<%= item.name %>">
          <label class="form-label" for="name">Amount</label>
          <input type="number" name="amount" value=<%= item.amount %>> 
          <input type="submit" value="Update">
        </form>
      </div>
      <a href="/lists" class="cancel-button">Go back</a>
    </div>
  </body>
</html>