<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="container">
      <div class="container-header">
        <h1>Shopping List</h1>
        <a href="/add" class="new-button">+ Add item</a>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span class="id-column">Amount</span>
          <span>Item</span>
        </div>
        <ul class="table-body">
          <% items.forEach((item) => { %>
            <li>
              <div class="item-data">
                <span class="id-column"><%= item.amount %></span>
                <span class="name-column"><%= item.name %></span>
              </div>
              <div class="item-menu">
                <!-- TODO: method delete and edit -->
                <form action="/delete/<%= item._id %>" method="post">
                  <input type="submit" value="Delete">
                </form>
                <a href="/edit/<%= item._id %>">Edit</a>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>